---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Error 404">
    <main class="m-auto max-w-4xl min-h-screen grid place-content-center">
        <h3 class="text-4xl font-black">Algo ha salido mal</h3>
        <img src="https://midu.dev/images/this-is-fine-404.gif" alt="404 not found" />
    </main>
</Layout>