---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Libros de programación">
	<section class="bg-gray-900 text-white">
		<div
		  class="mx-auto max-w-screen-xl px-4 py-32 lg:flex lg:h-screen lg:items-center"
		>
		  <div class="mx-auto max-w-3xl text-center">
			<h1
			  class="bg-gradient-to-r font-black uppercase text-4xl md:text-8xl text-center py-8 from-green-300 via-blue-500 to-purple-600 bg-clip-text text-transparent sm:text-5xl"
			  style="view-transition-name: title"
			  >
				Libros de 
				<span class="block text-[36px] md:text-[58px]">programación</span>
			</h1>
	  
			<p class="mx-auto mt-4 max-w-xl sm:text-xl/relaxed">
			Pagina que utliza view-transition API
			</p>
	  
			<div class="mt-8 flex flex-wrap justify-center gap-4">
			  <a
				class="block w-full rounded border border-blue-600 bg-blue-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-white focus:outline-none focus:ring active:text-opacity-75 sm:w-auto"
				href="/books"
			  >
				Libros
			  </a>
			</div>
		  </div>
		</div>
	  </section>
</Layout>