<h1
    class="bg-gradient-to-r font-black uppercase text-4xl md:text-8xl text-center py-8 from-green-300 via-blue-500 to-purple-600 bg-clip-text text-transparent sm:text-5xl"
    style="view-transition-name: title"
    >
    Libros de 
    <span class="block text-[36px] md:text-[58px]">programación</span>
</h1>