---
const {
    id,
    title,
    img
} = Astro.props
---

<a href={`/${id}`} class="hover:scale-105 inline-block transition-all hover:contrast-125 hover:shadow-2xl w-full">
    <img src={img} 
         class="aspect-[389/500] h-full object-cover w-full max-w-full rounded" 
         alt={title}
         style={`view-transition-name: book-${id}`}
         />
</a>